<div class="text-center form-inline">
<%= search_form_for @q, url: search_commission_reports_path,
                        html: { method: :post } do |f| %>
  <%= f.input :week_ending_eq, label: false, input_html: {value: Date.current.end_of_week - 1.week}, class: "form-control" %>
  <%= f.input :employee_name_cont, label: false, class: "form-control", placeholder: "Employee Name" %>
  <%= f.input :customer_name_start, label: false, class: "form-control", placeholder: "Customer Name"  %>

  <%= f.input :recruiter_username_or_recruiter_first_name_or_recruiter_last_name_cont, label: false, class: "form-control", placeholder: "Recruiter Name"  %>


  <%= f.submit %>
<% end %>
</div>