<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Customer</th>
      <th>Pay Rate</th>
      <th>Total Hours</th>
      <th>Total Pay</th>
      <th>Total Bill</th>
      <th>Mark-up</th>
      <th class="text-center">Week</th>
      <th>Revenue</th>
      <th>Commission Amount</th>
    </tr>
  </thead>

  <tbody>
    <% commission_reports.each do |commission_report| %>
      <tr class="<%= commission_report.double? ? "bg-success bold" : "bg-warning" %>">
        <td><%= link_to "Edit", edit_commission_report_path(commission_report) %></td>
        <td><%= link_to commission_report.employee_name, commission_report %></td>
        <td><%= link_to commission_report.customer_name, commission_report.customer %></td>
        <td><%= number_to_currency commission_report.pay_rate %></td>
        <td><%= number_with_precision(commission_report.total_hours, precision: 2) %></td>
        <td><%= number_to_currency commission_report.total_gross_pay %></td>
        <td><%= number_to_currency commission_report.total_bill %></td>
        <td><%= commission_report.mark_up.round(2) %></td>
        <td class="text-center"><%= commission_report.week_beginning.strftime("%x") %> - <%= commission_report.week_ending.strftime("%x") %></td>
        <td><%= number_to_currency commission_report.revenue %></td>
        <td><%= number_to_currency commission_report.sup_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>