<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= @q.present? ? sort_link(@q, :week, 'Week') : "Week" %></th>
      <th><%= sort_link(@q, :employee_name) %></th>
      <th><%= sort_link(@q, :customer_name) %></th>
      <th><%= sort_link(@q, :account_manager) %></th>
      <th><%= sort_link(@q, :pay_rate) %></th>
      <th><%= sort_link(@q, :start_date) %></th>
      <th><%= sort_link(@q, :total_hours) %></th>
      <th><%= sort_link(@q, :total_gross_pay) %></th>
      <th><%= sort_link(@q, :total_bill) %></th>
      <th><%= sort_link(@q, :mark_up) %></th>
      <th><%= sort_link(@q, :revenue) %></th>
      <th><%= sort_link(@q, :am_amount) %></th>
      <th><%= sort_link(@q, :rec_amount) %></th>
      <th><%= sort_link(@q, :sup_amount) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% commission_reports.order(:customer_name).each do |commission_report| %>
      <tr>
        <td><%= commission_report.week_beginning.strftime("%x") %> - <%= commission_report.week_ending.strftime("%x") %></td>
        <td><%= link_to commission_report.employee_name, commission_report %></td>
        <td><%= link_to commission_report.customer_name, commission_report.customer %></td>
        <td><% if commission_report.account_manager.present? %><%= link_to commission_report.account_manager.name, profile_path(commission_report.account_manager) %><% else %>Unassign<% end %></td>
        <td><%= number_to_currency commission_report.pay_rate %></td>
        <td><%= commission_report.start_date.present? ? commission_report.start_date.strftime("%x") : "Unknown" %></td>
        <td><%= number_with_precision(commission_report.total_hours, precision: 2) %></td>
        <td><%= number_to_currency commission_report.total_gross_pay %></td>
        <td><%= number_to_currency commission_report.total_bill %></td>
        <td><%= commission_report.mark_up.round(2) %></td>
        <td><%= number_to_currency commission_report.revenue %></td>
        <td><%= number_to_currency commission_report.am_amount %></td>
        <td><%= number_to_currency commission_report.rec_amount %></td>
        <td><%= number_to_currency commission_report.sup_amount %></td>
        <td><%= link_to 'Edit', edit_commission_report_path(commission_report) %> | <%= link_to 'Destroy', commission_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>