<h1><%= @user.name %> <small> <%= @user.role %></small></h1>
<div class="col-md-4"><h2>Commission: <%= number_to_currency @user.total_commission_amt %></h2></div>
<div class="col-md-4"><h2>Hours: <%= @user.total_hours %></h2></div>
<div class="col-md-4"><h2>Revenue: <%= number_to_currency @user.total_revenue %></h2></div>
<%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
<div class="well">
  <%= render "commission_reports/table", commission_reports: @user.reports %>
</div>