
<h1>All Customers</h1>
<div class="text-right"><%= link_to 'New Customer', new_customer_path, class: "btn btn-default" %>
  
</div>
<hr>
<div class="col-md-12 table-responsive scroll">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Billing</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%=link_to customer.name, customer %></td>
          <td><% if customer.account_manager.present? %> <%= link_to customer.account_manager.name, profile_path(customer.account_manager) %><% else %><%= customer.commission_reports.any? ? "Unassigned" : "Inactive" %> <% end %> </td>
          <td><%= number_to_currency(customer.total_bill(Date.today.end_of_week - 1.week)) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>





