<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <%= render "layouts/navbar" %>
    <%= render "layouts/alert" if alert %>
    <%= render "layouts/notice" if notice %>
    
    <div class="container-fluid">
      <%= yield %>
    </div>
  
  </body>
</html>
